---
layout: default
title: Games
permalink: "/rpglets.html"
group: Rpglets
---

<div class='rounded'>
	<article>
		<header>
		<h1>{{ page.title }}</h1>
		</header>

		<p>Games I've written, most of which  fit on one letter-sized page (though you might have to squint a little if you actually print them -- I've never tried). They're listed from most recent to oldest, so paint a pretty good picture of my evolving design philosophy (and improvement with LaTex).</p>

		<hr>

		<section>

			<h3>To Make a Murder</h3>

			<p><i>... a narrative solo mystery framework</i></p>

			<p>More proof of concept than anything else, to be honest.</p>

			<ul>
			{% for node in site.categories['to make a murder'] %}
				<li><a href="{{site.baseurl}}{{ node.url }}">{{ node.title }}</a></li>
			{% endfor %}
			</ul>

		</section>

		<hr>

		<section>

			<h3>Calypso</h3>

			<p><i>... Apocalypse World mashed with Lady Blackbird</i></p>

			<p>A mashup of <i>Apocalypse World's</i> mechanics and <i>Lady Blackbird's</i> character generation, along with a heaping helping of general soloing techniques, run through the blender of my idiosyncratic play style.</p>

			<p><i>Calypso</i> is designed to be compatible with <i>Apocalypse World</i> and its derivatives. It should be trivial to use the core rules with any PbtA game, and the character options should work with Lady Blackbird with very little tweaking.</p>

			<ul>
			{% for node in site.categories['calypso'] %}
				<li><a href="{{site.baseurl}}{{ node.url }}">{{ node.title }}</a></li>
			{% endfor %}
			</ul>

		</section>

		<hr>

		<section>

			<h3>Secrets &amp; Shadows / Starfarer</h3>

			<p>The former is paranormal romance, or urban fantasy, if you prefer, while the latter is straight science fiction. Draws heaviy on <i>Lady Blackbird</i> for character generation and <i>Apocalypse World</i> for resolution and mechanics. No good name for the mashup system yet, I'm afraid.</p>

			<p>No built-in structure or end point, but plenty of color and situation starters to get things going and keep them moving. Should be playable solo or in a group, one shot or long term. I expect to make a lot of these in different flavors.</p>

			<ul>
			{% for node in site.tags['secrets and shadows'] %}
				<li><a href="{{site.baseurl}}{{ node.url }}">{{ node.title }}</a></li>
			{% endfor %}
			</ul>

			<h3>6 Feet Under</h3>

			<p>Mystery with a hard-boiled, noir feel, written after <i>6 Against the Dark</i> as I was transitioning away from a "purchasing outcomes" framework and towards Apocalypse World's resolution system.</p>

			<p>Uses a character generation method similar to that of <i>6 Against the Dark</i>, but replaces the standard three Act structure with one inspired by a "beat sheet" for a more fluid but still very board-game-like result.</p>

			<p>I as about halfway done with it when I got bowled over by illness, and by the time I got back on my feet I'd moved on to a different approach entirely. I finished it up anyway but I think the resolution mechanics are handled and explained much better in the next set of games.</p>

			<ul>
			{% for node in site.tags['6 feet under'] %}
				<li><a href="{{site.baseurl}}{{ node.url }}">{{ node.title }}</a></li>
			{% endfor %}
			</ul>

			<h3>6 Against the Dark / 6 Days to Adventure</h3>

			<p>Two flavors of essentially the same game; one is horror of the haunted house variety and the other evokes big globe-trotting, treasure hunting adventure potboilers (or pulp adventure, if you prefer).</p>

			<p>Built around a board-game-style three Act structure with a simple dice resolution mechanic (using s "purchase results" method). Like 6 Hours, designed for one shot, or at least self-contained stories; you start at the beginning, rough out a character in broad strokes, then play through the steps (scenes) in order.</p>

			<p>Designed for solo but with more room (and less constrained roles) than <i>6 Hours</i> for multiple players. The framework is also suitable for running by a GM.</p>

			<ul>
			{% for node in site.categories['d6 games'] %}
				<li><a href="{{site.baseurl}}{{ node.url }}">{{ node.title }}</a></li>
			{% endfor %}
			</ul>

			<h3>6 Hours to Midnight</h3>

      <p><i>... and no one is precisely who they seem to be, including you.</i></p>

			<p>Intrigue and romance in a time-based format designed to create a cohesive narrative story. And to encourage exploration of themes of love, sex, and rivalry in a rpg context. Inspired by S\lay with w/Me.</p>

			<p>Probably suitable for solo play only, though you could possibly play with a GM and one or two players, maybe even competitively, assuming your group is cool with that and the major themes.</p>

			<p>It's definitely designed as a one shot, with a decent number of things to keep track of, and very story focused, with a clear beginning, set up, and end.</p>

			<ul>
			{% for node in site.categories['6 hours to midnight'] %}
				<li><a href="{{site.baseurl}}{{ node.url }}">{{ node.title }}</a></li>
			{% endfor %}
			</ul>

		</section>

	</article>
</div>
