---
layout: default
title: Tags
permalink: "/tags.html"
group: title
---

<section id="tags">
	<div class='rounded'>
		<h1><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h1>
		<ul class='inlinelist tagindex'>
		{% include blocks/list_tags.html %}
		</ul>
	</div>
	{% for tag in site.tags %}
		<div class='rounded'>
			<h2 id="ref-{{ tag[0] | cgi_escape | remove:'%' }}">{{ tag[0] | escape }}</h2>
			<ul>
			{% assign list_pages = tag[1] %}
			{% include blocks/list_pages.html %}
			</ul>
		</div>
	{% endfor %}
</section>
