---
layout: default
group: Blog
title: Blog
---
<!--test-->
{% include libs/truncate_start %}
{% for post in site.posts limit: 1 %}
			<!-- Featured Article -->
			<article class="hero-unit">
				<header><hgroup>
					<h1>
						<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
					</h1>
					<h4>
						<time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: site.date_format }}</time>
					</h4>
				</hgroup></header>
				<div class="content">
					{% include libs/thumbnail %}
					{% include libs/truncate_exec %}
				</div>
				<footer>
					<p><a href="{{ site.baseurl }}{{ post.url }}" class="btn gbtn-large">more &raquo;</a></p>
				</footer>
			</article>
{% endfor %}

{% for post in site.posts offset: 1 limit: 3 %}
			<!-- Followed Articles -->
			<div class="row-fluid">
				<article class="span{{ 12 | divided_by: site.columns }}">
					<header>
						{% include libs/thumbnail %}
						<hgroup>
							<h2>
								<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
							</h2>
							<h5>
								<time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: site.date_format }}</time>
							</h5>
						</hgroup>
					</header>
					<div class="content">
						{% include libs/truncate_exec %}
					</div>
					<footer>
						<p><a href="{{ site.baseurl }}{{ post.url }}" class="btn">more &raquo;</a></p>
					</footer>
				</article><!--/span-->
			</div>
{% endfor %}
{% include libs/truncate_end %}
