---
layout: default
group: Home
---

<section class="hero">
  {% for post in site.posts limit:1 %}

  <article class="hero-unit rounded">
    <header><hgroup>
      <h1>
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      </h1>
      <h4>
        <time>{{ post.date | date: "%B %d, %Y @ %I:%M %P" }}</time>, words: {% assign wordCount = post.content | number_of_words %}
      </h4>
    </hgroup></header>
    <div class="content">
      {% if post.content contains '<!--more-->' %}
        {{ post.content | split:'<!--more-->' | first }}
      {% else %}
        {{ post.content |truncatehtml | truncatewords: 60 }}
      {% endif %}
    </div>
    <footer>
      <p><a href="{{ site.baseurl }}{{ post.url }}" class="btn btn-more">more &raquo;</a></p>
    </footer>
  </article>

  {% endfor %}
</section>

<section class="zero">

  {% for post in site.posts offset:1 limit:2 %}

  <article class="zero-unit rounded">
    <header><hgroup>
      <h1>
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      </h1>
      <h4>
        <time>{{ post.date | date: "%B %d, %Y @ %I:%M %P" }}</time>
      </h4>
    </hgroup></header>
    <div class="content">
      {% if post.content contains '<!--more-->' %}
        {{ post.content | split:'<!--more-->' | first }}
      {% else %}
        {{ post.content |truncatehtml | truncatewords: 60 }}
      {% endif %}
    </div>
    <footer>
      <p><a href="{{ site.baseurl }}{{ post.url }}" class="btn btn-more">more &raquo;</a></p>
    </footer>
  </article>


  {% endfor %}
</section>

<section class="previous-posts">
  <article class="previous-posts-unit rounded inlinelist">
      <ul>
        {% for post in site.posts limit:6 offset:3 %}
        <li>
          <time>{{ post.date | date: "%B %d, %Y" }}</time>&nbsp;&nbsp;<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        </li>
          {% unless forloop.last %}
          <li>|</li>
          {% endunless %}
        {% endfor %}
      </ul>
  </article>
</section>
