---
layout: default
title: Site Category
permalink: "site.html"
group: Categories
match: 'site'
---

<section class="zero">

  {% for post in site.categories[page.match] limit:50 %}

  <article class="zero-unit rounded">
    <header><hgroup>
      <h1>
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      </h1>
      <h4>
        {% assign wordCount = post.content | number_of_words %}
        <time>{{ post.date | date: "%B %d, %Y @ %I:%M %P" }}, {{ wordCount }} words,</time>

        {% if post.modified %}
        <time>updated {{ post.modified | date: "%B %d, %Y @ %I:%M %P" }},</time>
        {% endif %}

        <time>
        filed under

        {% for cat in post.categories %}

        <a href="{{ site.baseurl }}/{{ cat | remove: " " }}.html">{{ cat }}{% if forloop.last == false %},{% endif %} </a>

        {% endfor %}

        &amp; tagged

        {% for tag in post.tags %}

        <a href="{{ site.baseurl }}/tags.html#ref-{{ tag | cgi_escape | remove:'%' }}">{{ tag }}{% if forloop.last == false %},{% endif %}</a>

        {% endfor %}
        </time>

      </h4>
    </hgroup></header>
    <div class="content">
      {% if post.content contains '<!--more-->' %}
        {{ post.content | split:'<!--more-->' | first }}
      {% else %}
        {{ post.content | truncatehtml | truncatewords: 60 }}
      {% endif %}
    </div>
    <footer>
      <p><a href="{{ site.baseurl }}{{ post.url }}" class="btn btn-more">more &raquo;</a></p>
    </footer>
  </article>


  {% endfor %}
</section>

<section>
  <article class="previous-posts-unit rounded inlinelist">
      <ul>
        {% for post in site.categories[page.match] limit:100 offset:50 %}
        <li>
          {% assign wordCount = post.content | number_of_words %}
        <time>{{ post.date | date: "%B %d, %Y" }}</time>

        {% if post.modified %}
          <time>{{ site.text.post.updated }}: {{ post.update_date | date: site.date_format }}</time>
        {% endif %}&nbsp;<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        </li>
          {% unless forloop.last %}
          <li>|</li>
          {% endunless %}
        {% endfor %}
      </ul>
  </article>
</section>
