
  <nav id="primary_nav_wrap" class='rounded color2'>
  <ul>
    {% for node in site.data.navmenu %}
      {% if node.name == page.group %}{% assign active = 'active' %}
      {% else %}{% assign active = nil %}{% endif %}
      {% if node.dropdown %}
        {% if active %}
            <li class="active">
        {% else %}
            <li>
        {% endif %}
            <a class="dropdown-link" href="{{ site.baseurl }}{{ node.link }}">{{ node.name }}</a>
          <ul>
            {% for sub in node.dropdown %}
            <li><a href="{{ site.baseurl }}{{ sub.link }}">{{ sub.name }}</a></li>
            {% endfor %}
          </ul>
      {% else %}
      {% if active %}
          <li class="active">
      {% else %}
          <li class="inactive">
      {% endif %}
            <a href="{{ site.baseurl }}{{ node.link }}">{{ node.name }}</a></li>

      {% endif %}
    {% endfor %}

    <li><a href="https://exposit.github.io/katarpgs/" target="_blank">Games</a></li>

  </ul>
  </nav>
