
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Fraunces&display=swap" rel="stylesheet">

<section class="pinned">
  <article class="hero-unit rounded color3">
    <h1 class='post-title' style="font-size: 22px; font-family: 'Fraunces', serif;">
      <span>Hi there!</span> I'm now posting over at <a href="https://www.hedonic.ink">hedonic.ink.</a> Come on over and see what's new!
    </h1>
  </article>
</section>

  <nav id="primary_nav_wrap" class='rounded color2'>
  <ul>
    {% for node in site.data.navmenu %}
      {% if node.name == page.group %}{% assign active = 'active' %}
      {% else %}{% assign active = nil %}{% endif %}
      {% if node.dropdown %}
        {% if active %}
            <li class="active">
        {% else %}
            <li>
        {% endif %}
            <a class="dropdown-link" href="{{ site.baseurl }}{{ node.link }}">{{ node.name }}</a>
          <ul>
            {% for sub in node.dropdown %}
            <li><a href="{{ site.baseurl }}{{ sub.link }}">{{ sub.name }}</a></li>
            {% endfor %}
          </ul>
      {% else %}
      {% if active %}
          <li class="active">
      {% else %}
          <li class="inactive">
      {% endif %}
            <a href="{{ site.baseurl }}{{ node.link }}">{{ node.name }}</a></li>

      {% endif %}
    {% endfor %}

    <li><a href="https://exposit.github.io/katarpgs/" target="_blank">Games</a></li>

  </ul>
  </nav>
