<section id="sidebar-roll" class="color2 rounded side">
<div>
<header class="major">
<h3>Blogs I Read</h3>
</header>
<ul>
<li><a href="http://udan-adan.blogspot.com/" target="_new">Against The Wicked City</a> | <a href="http://udan-adan.blogspot.com/2018/12/adventures-in-miniature-painting.html" target="_new">Adventures in miniature painting</a> | <cite>Dec 20, 2018</cite></li>
<li><a href="https://coinsandscrolls.blogspot.com/" target="_new"> Coins and Scrolls</a> | <a href="https://coinsandscrolls.blogspot.com/2018/12/40k-kill-team-update-2-inquisimunda.html" target="_new">40k: Kill Team Update 2 + Inquisimunda</a> | <cite>Dec 19, 2018</cite></li>
<li><a href="http://www.bastionland.com/" target="_new">BASTIONLAND</a> | <a href="http://www.bastionland.com/2018/12/a-stocking-of-oddities.html" target="_new">A Stocking of Oddities</a> | <cite>Dec 20, 2018</cite></li>
<li><a href="http://falsemachine.blogspot.com/" target="_new">False Machine</a> | <a href="http://falsemachine.blogspot.com/2018/12/current-projects.html" target="_new">Current Projects</a> | <cite>Dec 15, 2018</cite></li>
<li><a href="http://goblinpunch.blogspot.com/" target="_new">Goblin Punch</a> | <a href="http://goblinpunch.blogspot.com/2018/11/cosmic-monster-apotropaiadon.html" target="_new">Cosmic Monster: the Apotropaiadon</a> | <cite>Nov 19, 2018</cite></li>
<li><a href="http://hackslashmaster.blogspot.com/" target="_new">Hack & Slash</a> | <a href="http://hackslashmaster.blogspot.com/2018/11/dont-look-at-this-trap.html" target="_new">Don't look at this trap!</a> | <cite>Nov 09, 2018</cite></li>
<li><a href="http://necrotic-gnome-productions.blogspot.com/" target="_new">Necrotic Gnome</a> | <a href="http://necrotic-gnome-productions.blogspot.com/2018/12/bx-essentials-quest-for-name.html" target="_new">B/X Essentials: The Quest For A Name</a> | <cite>Dec 19, 2018</cite></li>
</ul><div class="total-posts">... and about 300 more on <a href="https://www.inoreader.com/u/alto.dizi">innoreader</a></div></div></section>
