
<div>
<section id="side-archive-tree" class="rounded color2">

  <div class='archivelink'>
  <h3><a href="{{ site.baseurl }}/archives.html">Archives</a></h3>
  </div>

      <ol class="tree">

{% for post in site.posts %}
    {% assign currentdate = post.date | date: "%B %Y" %}
      {% if currentdate != date %}{% unless forloop.first %}</ol>{% endunless %}{% endif %}
      {% if currentdate != date %}
        {% if forloop.first %}
                <li>
                  <label for="folder{{forloop.index}}"><h3>{{ currentdate }} &raquo;</h3></label> <input type="checkbox" checked id="folder{{forloop.index}}" />
                  <ol>
        {% else %}
          <li>
            <label for="folder{{forloop.index}}"><h3>{{ currentdate }} &raquo;</h3></label> <input type="checkbox" id="folder{{forloop.index}}" />
            <ol>
        {% endif %}
        {% assign date = currentdate %}
      {% endif %}
      <li class="file"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.date | | date: "%d" }} {{ post.title | truncatehtml | truncate: 35 }}</a></li>
      {% if forloop.last %}
          </ol>
        </li>
    		</ol>
     {% endif %}
{% endfor %}

</section>

</div>
