{% if page.layout == "post" %}

  {% if page.extender %}

  <section id="sidebar-extender" class='rounded color2'>

  <h3>Other Posts In This Series</h3>

  <br>
    <ul>
    {% assign category = page.extender %}
    {% assign posts = site.tags[category] %}
    {% for post in posts %}
      {% if post.url == page.url %}
        <li>{{ post.title }}</li>
      {% else %}
        <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
    {% endfor %}
    </ul>
    </section>

  {% endif %}

{% endif %}
