{% if page.layout == "post" %}

<section id="sidebar-extender" class='rounded color2'>

<h3>Related Posts</h3>

<br>

{% if page.extender %}
  <div>
    	{% for node in page.extender %}
			<h4><a href="{{ site.baseurl }}/categories.html#ref-{{ node | join | cgi_escape | remove:'%' }}">{{ node | join:' - ' | escape }}</a>&nbsp;<span>({{ site.categories[node].size }})</span></h4>
      <ul>
        	{% for post in site.categories[node] %}
          <li><time>{{ post.date | date: "%m.%d.%y" }}</time>&nbsp;&nbsp;<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title | truncatehtml | truncate: 20}}</a></li>
          {% endfor %}
      </ul>
      {% endfor %}
  </div>
{% else %}
  <div>
      {% for node in page.categories %}
				<h4><a href="{{ site.baseurl }}/categories.html#ref-{{ node | join | cgi_escape | remove:'%' }}">{{ node | join:' - ' | escape }}</a>&nbsp;<span>({{ site.categories[node].size }})</span></h4>
        <ul>
          {% for post in site.categories[node] %}
          <li><time>{{ post.date | date: "%m.%d.%y" }}</time>&nbsp;&nbsp;<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title | truncatehtml | truncate: 20 }}</a></li>
          {% endfor %}
        </ul>
      {% endfor %}
  </div>
{% endif %}

</section>

{% endif %}
