<section id="sidebar-roll" class="color2 rounded side">
<div>
<header class="major">
<h3>Blogs I Read</h3>
</header>
<ul>
<li><a href="http://udan-adan.blogspot.com/" target="_new">Against The Wicked City</a> | <a href="http://udan-adan.blogspot.com/2018/11/actual-play-deathfrost-mountain.html" target="_new">[Actual Play] The Deathfrost Mountain Adoption Agency:</a> | <cite>4 days ago</cite></li>
<li><a href="https://coinsandscrolls.blogspot.com/" target="_new"> Coins and Scrolls</a> | <a href="https://coinsandscrolls.blogspot.com/2018/10/osr-tomb-of-serpent-kings-v4.html" target="_new">OSR: Tomb of the Serpent Kings v4</a> | <cite>11 days ago</cite></li>
<li><a href="http://www.bastionland.com/" target="_new">BASTIONLAND</a> | <a href="http://www.bastionland.com/2018/10/ritualising-d-spells.html" target="_new">Ritualising D&D Spells</a> | <cite>12 days ago</cite></li>
<li><a href="http://falsemachine.blogspot.com/" target="_new">False Machine</a> | <a href="http://falsemachine.blogspot.com/2018/11/a-review-of-through-ultans-door.html" target="_new">A Review of Through Ultans Door</a> | <cite>about 11 hours ago</cite></li>
<li><a href="http://goblinpunch.blogspot.com/" target="_new">Goblin Punch</a> | <a href="http://goblinpunch.blogspot.com/2018/11/earth-elementals-and-gargoyles.html" target="_new">Earth Elementals and Gargoyles</a> | <cite>6 days ago</cite></li>
<li><a href="http://hackslashmaster.blogspot.com/" target="_new">Hack & Slash</a> | <a href="http://hackslashmaster.blogspot.com/2018/11/dont-look-at-this-trap.html" target="_new">Don't look at this trap!</a> | <cite>1 day ago</cite></li>
<li><a href="http://necrotic-gnome-productions.blogspot.com/" target="_new">Necrotic Gnome</a> | <a href="http://necrotic-gnome-productions.blogspot.com/2018/11/the-dreamlands.html" target="_new">The Dreamlands</a> | <cite>about 18 hours ago</cite></li>
</ul></div></section>
