</section>

<section id="sidebar-roll" class="color2 rounded side">
    <div>
    <header class="major">
        <h3>Blogs I Read</h3>
    </header>

    <p><a href="http://www.bastionland.com/" target="_new">BASTIONLAND</a> | <a href="http://www.bastionland.com/2018/10/ritualising-d-spells.html" target="_new">Ritualising D&D Spells</a></p>

  <p><a href="http://falsemachine.blogspot.com/" target="_new">False Machine</a> | <a href="http://falsemachine.blogspot.com/2018/11/a-review-of-through-ultans-door.html" target="_new">A Review of Through Ultans Door</a></p>

  <p><a href="http://goblinpunch.blogspot.com/" target="_new">Goblin Punch</a> | <a href="http://goblinpunch.blogspot.com/2018/11/earth-elementals-and-gargoyles.html" target="_new">Earth Elementals and Gargoyles</a></p>

  <p><a href="http://hackslashmaster.blogspot.com/" target="_new">Hack & Slash</a> | <a href="http://hackslashmaster.blogspot.com/2018/11/dont-look-at-this-trap.html" target="_new">Don't look at this trap!</a></p>

  <p><a href="http://necrotic-gnome-productions.blogspot.com/" target="_new">Necrotic Gnome</a> | <a href="http://necrotic-gnome-productions.blogspot.com/2018/11/the-dreamlands.html" target="_new">The Dreamlands</a></p>

    {% for e in site.externalfeed %}
      <p><a href="{{ e.guid }}" target="_new">{{ e.title }}</a> | <a href="{{ e.eurl }}" target="_new">{{ e.etitle}}</a></p>
    {% endfor %}

    </div>
</section>
