---
permalink: "/solos/index.html"
layout: default
group: Solos
title: Solo Adventures
campaigns: ['kyneros', 'noir nights']
---

<div class='subpage'>
			<article>
				<header>
					<h1>{{ page.title }}</h1>
				</header>

				<section>
<p>This is a landing page for the entire category of solo adventures and campaigns. It should really just cover actual solo sessions; will likely have it pull campaign tags from all solo campaigns and describe how I use Pythia to run my adventures.</p>

<ul>
{% for campaign in page.campaigns %}
	{% for post in site.categories[campaign] %}
	   <h2>{{ campaign }}</h2>
		{% if post.url %}
			<a href="{{ post.url }}">{{ post.title }}</a> 
		{% endif %}
	{% endfor %}
{% endfor %}
</ul>

</section>
</div>
<footer>
</footer>
</article>
