---
permalink: "/solos/kyneros.html"
layout: default
title: Kyneros Campaign
subcat: kyneros
---

<div class='subpage'>
	<section id="campaign-unit" class="rounded">
		<h1><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h1>

	<p>Kyneros is a sandbox world, infested with monsters and magic, and having a vaguely "Rome after the fall" kind of feel.</p>

		<ul>
		  {% for post in site.categories.kyneros reversed %}
		    {% if post.url %}

			      <li><time>{{ post.date | date: "%m.%d.%Y" }}</time>&nbsp;&nbsp;<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
						{% if post.tagline %}<li class="tagline">...{{ post.tagline}}</li>{% endif %}
						<br>

		    {% endif %}
		  {% endfor %}
		</ul>

	</section>
</div>
