<!doctype html>
<html lang="en">

{% include head.html %}

  <body>
    <div class="page-container">

      <header>
        {% include header.html %}
      </header>

      <nav>
        {% include navbar.html %}
      </nav>

      <div class="floatclear"></div>

      <div class="container-fluid">
      	<div class="row-fluid">
      		<div id="main">
            {{ content }}
      		</div>

      		<aside id="sidebar">
            {% include side_about.html %}
            {% include side_post_links.html %}
            {% include side_recent_posts.html %}
            {% include side_clouds.html %}
            {% include side_extender.html %}
      		</aside><!--/span-->
      	</div><!--/row-->
      </div> <!-- /container -->

      <div id="footer">
        {% include footer.html %}
      </div><!-- /footer -->
    </div><!-- /page-container-->

  </body>
</html>
