---
layout: default
---
{{ page.content | size }}
    <article class="post-unit rounded">
      <header>
        <h1>
        {% if page.series %}
          {{page.series}}:
        {% endif %}
        <a href="{{ site.baseurl }}{{ page.url }}" rel="bookmark" title="Permanent link">{{ page.title }}</a></h1>

        <p class="meta"><time>{{ post.date | date: "%B %d, %Y @ %I:%M %P" }}</time>, words: {% assign wordCount = page.content | number_of_words %}{{ wordCount }}</p>
      </header>

      <div class="content">
      {{ content }}
      </div>
      <footer>
      {% include post_meta.html %}
      <!--</footer>-->
    </article>
    {% include post_extender.html %}
    <!--{% include post_recent_posts.html %}-->
    {% include post_comment.html %}
